/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: center;
}
.survey .form-group {
  display: inline-block;
}
.newsletter{
  text-align: right;
}
.newsletter fieldset {
  padding-bottom: 2em;
  /*width: 70%;*/
}


fieldset {
  margin-bottom: 1em;
}

legend {
  color: rgb(17, 255, 37);
  font-size: 1.2em;
}

label {
  margin-right: 2em;
}

label[for="favorite-song"] {
  vertical-align: top;
}



label:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  background: #ddd;
  border: 3px solid rgb(17, 255, 37);
}

.form-group {
  display: block;
  margin-bottom: 0.5em;
  padding-top: 1em;
}

.form-group p {
  height: 5px;
  margin-top: -2px;
  padding-top: 2px;
}

#name-hint,
#email-hint,
#retype-email-hint,
#submit-form-hint {
  color: rgb(45, 43, 48);
  /*color: rgb(17, 255, 37);*/
  /*font-size: 0.8em;*/
}

input[id="name"]:focus + #name-hint,
input[id="email"]:focus + #email-hint,
input[id="retype-email"]:focus + #retype-email-hint,
button[id="submit-form"]:focus + #submit-form-hint {
  color: rgb(17, 255, 37);
  /*font-size: 0.8em;*/
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
