/* Tour page styles */

pre {
  font-family: 'Open Sans', sans-serif;
}

.heading{
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}

/* Table Styles */
caption {
	text-transform: uppercase;
}

th, td {
	padding: 5px 15px;
	border: 1px solid rgb(58, 99, 85);
}

th {
	text-align: center;
}

tr:nth-child(even) {
	background: rgb(58, 99, 85);
}
